@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --iconBlack: #292929;
  --hoverIconBlack: #3b3b3b;
}

body {
  user-select: none;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  /* font-family: "roboto", arial, sans-serif, arial, "noto", "youtube sans",
    "roboto", "youtube noto", helvetica; */
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.slider {
  position: absolute;
  top: 0%;
  left: -100%;
  transition: all ease-in-out 2s;
}

.slider .active {
  left: 0%;
}

.video-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dark .yt-icon {
  fill: white;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  grid-template-rows: auto auto;
  grid-template-areas: "navbar navbar" "sidebar category" "sidebar main";
}

#navbar {
  grid-area: navbar;
  height: 56px;
}

#sidebar {
  grid-area: sidebar;
  height: calc(100vh - 58px);
}

#slider {
  grid-area: sidebar;
  height: 100vh;
  align-items: start;
  width: 200px;
}

#category {
  grid-area: category;
  height: 56px;
  display: flex;
  align-items: center;
}

#main {
  grid-area: main;
  overflow-y: auto;
  height: calc(100vh - 56px);
  scroll-behavior: smooth;
}

#category + #main {
  height: calc(100vh - 112px); /* Navbar + Category height */
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

#main::-webkit-scrollbar {
  display: none;
}

.toastBody {
  font-weight: 600;
  font-size: 1rem;
}

@media (max-width: 600px) {
  html {
    font-size: 62.5%;
  }
  body {
    height: 100%;
  }

  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "main" "sidebar";
  }

  #main {
    grid-area: main;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: calc(100vh - 112px);
  }

  #sidebar {
    grid-area: sidebar;
    height: 56px;
    display: flex;
    justify-content: space-around;
  }

  #category {
    grid-area: category;
    display: none;
  }
}

.custom-checkbox-container {
  display: inline-block;
  position: relative;
}

input[type="checkbox"] {
  display: none;
}

#custom-label {
  display: inline-block;
  width: 21px;
  height: 20px;
  background-color: #333; /* Dark background */
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border: 2px solid #fff; /* Matches background */
}

input[type="checkbox"]:checked + #custom-label {
  background-color: #3fa6ff; /* Blue color for checked */
  border-color: #3fa6ff; /* Blue border */
}

#custom-label::after {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 4px;
  left: 8px;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}

input[type="checkbox"]:checked + #custom-label::after {
  opacity: 1;
}
