@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --iconBlack: #292929;
  --hoverIconBlack: #3b3b3b;
}

body {
  user-select: none;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.slider {
  position: absolute;
  top: 0%;
  left: -100%;
  transition: all ease-in-out 2s;
}

.slider .active {
  left: 0%;
}

.dark .yt-icon {
  fill: white;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-areas: "navbar navbar" "sidebar category" "sidebar main";
}

#navbar {
  grid-area: navbar;
  height: 56px;
}

#sidebar {
  grid-area: sidebar;
  height: calc(100vh - 58px);
}

#slider {
  grid-area: sidebar;
  height: 100vh;
  align-items: start;
  width: 200px;
}

#category {
  grid-area: category;
  height: 56px;
  display: flex;
  align-items: center;
}

#main {
  grid-area: main;
  overflow-y: auto;
  height: calc(100vh - 56px);
  scroll-behavior: smooth;
}

#category + #main {
  height: calc(100vh - 112px); /* Navbar + Category height */
}

#main::-webkit-scrollbar {
  display: none;
}

.toastBody {
  font-weight: 600;
  font-size: 1rem;
}

@media (max-width: 425px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main" "sidebar";    
  }
  #sidebar {
    grid-area: sidebar;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
  }
  #category {
    grid-area: category;        
    display: none;
  }
  #main {
    grid-area: main;
    height: calc(100vh - 125px);    
  }
}
