@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
:root {
    --background-color: white;
    --black: #0f0f0f;
    --border-color: lightgray;
    --hover-bg-color: lightgray;
    --svg-fill-dark: #ffffff;
    --svg-fill-light: #000000;
    --Lightblack: #5a5a5a;
    --darkblack: #292929;
    --gray: #cccccc;
    --lightgray: #f2f2f2;
    --darkgray: #3b3b3b;
    --blue: #0d64d5;
    --lightblue: #9fc1ee;
   }

        /* Main Theme toggle */

[data-theme="light"] {
    background-color: white;
    color: var(--black);
    fill: var(--svg-fill-light);
  }
  
  [data-theme="dark"] {
    background-color: var(--black);
    color: white;
    fill: var(--svg-fill-dark);
  }

        /* floting windows theme */

[data-theme="light"] .floting {
    background-color: white;
    color: var(--black);
    fill: var(--svg-fill-light);
  }
  
  [data-theme="dark"] .floting{
    background-color: var(--black);
    color: white;
    fill: var(--svg-fill-dark);
  }

        /* Input theme */

[data-theme="light"] #input {
    background-color: white;
    color: var(--black);
    fill: var(--svg-fill-light);
    border: 1px solid var(--gray);
  }
  
  [data-theme="dark"] #input {
    background-color: var(--black);
    color: white;
    fill: var(--svg-fill-dark);
    border: 1px solid #5a5a5a;
  }

        /* search-btn theme */

[data-theme="light"] #search-btn {
    background-color: #E3E3E3;
    color: var(--black);
    fill: var(--svg-fill-light);
    border: 1px solid var(--gray);
  }
  
  [data-theme="dark"] #search-btn {
    background-color: #292929;
    color: white;
    fill: var(--svg-fill-dark);
    border: 1px solid #5a5a5a;
  }

        /* search-btn hover theme */

[data-theme="light"] #search-btn:hover {
    background-color: #f2f2f2;
    color: var(--black);
    fill: var(--svg-fill-light);
    border: 1px solid var(--gray);
  }
  
  [data-theme="dark"] #search-btn:hover {
    background-color: var(--darkgray);
    color: white;
    fill: var(--svg-fill-dark);
    border: 1px solid var(--Lightblack);
  }

        /* nav-icon theme */
  #nav-icon{
    border-radius: 50%;
    height:2.7rem;
    padding: 8px;
  }

[data-theme="light"] #nav-icon:hover {
        background-color: var(--lightgray);
  }
  
  [data-theme="dark"] #nav-icon:hover {
    background-color: var(--darkblack);
  }

        /* menu-icon */

     .menu-icon{
        width: 100%;
        padding: 15px 0;
        border-radius: 10%;
     }   
  [data-theme="light"] .menu-icon:hover {
        background-color: var(--lightgray);
       
    }
    
    [data-theme="dark"] .menu-icon:hover {
      background-color: var(--darkblack);
    }
        /* slider-icon */
  [data-theme="light"] .slider-icon:hover {
        background-color: var(--lightgray);
    }
    [data-theme="dark"] .slider-icon:hover {
      background-color: var(--darkblack);
    }
        /* icon-slider */
  [data-theme="light"] .icon-slider {
      stroke: #000000;
    }
    [data-theme="dark"] .icon-slider {
      stroke: #ffffff;
    }
        /* categories-icon */

     .categories-icon{
        border-radius: 10px;
        font-size:15px;
     }   

            /* normal .categories-icon */

  [data-theme="light"] .categories-icon {
       background-color: var(--lightgray);
    }
    
    [data-theme="dark"] .categories-icon {
      background-color: var(--darkblack);
    }

            /* hover .categories-icon */
  [data-theme="light"] .categories-icon:hover {
        background-color: #e4e3e3;
       
    }
    
    [data-theme="dark"] .categories-icon:hover {
      background-color: var(--darkgray);
    }
            /* shimmer */
            
  [data-theme="light"] .shimmer {
        background-color: #E3E3E3; 
    }
    
    [data-theme="dark"] .shimmer {
      background-color: #252525;
    }
            /* shimmer-border */

  [data-theme="light"] .shimmer-border {
    border-top:1px solid #E3E3E3;
    border-bottom:1px solid #E3E3E3;
    }
    
    [data-theme="dark"] .shimmer-border {
      border-top:1px solid #252525;
      border-bottom:1px solid #252525;
    }
            /* shimmer-input */

  [data-theme="light"] .shimmer-input {
    border:1px solid var(--gray);
    }
    
    [data-theme="dark"] .shimmer-input {
      border:1px solid var(--Lightblack);
    }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    width: 100vw;
}

.slider{
    position: fixed;
    top: 0;
    left: -100;
    transition: all ease-in-out 0.5s;
}

.slider-in{
    left: 0;
}

  .yt-details .three-dots-container {
    display: none;
   }
   
   .yt-details:hover .three-dots-container {
    display: block;
   }


   #shimmer{
    background-image: linear-gradient(#dadada, #2f2f2f, #dadada);
    transform: rotate(90deg);
    animation:  shimmer 1.5s infinite;
    left: 100%;
}


 #loader-element {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: #dadada;
    margin-bottom: 2px;
    overflow: hidden;
    border-radius: 5px;
 }
 #loader-element::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#dadada, #f2f2f2, #dadada);
    transform: rotate(90deg);
    animation: Change 1.5s infinite ;
 }

 @keyframes Change {
  0%{left: -100%;}
  100%{left: 100%;}
}