@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --iconBlack: #292929;
  --hoverIconBlack: #3b3b3b;
}

body{
  user-select: none;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.slider {
  position: absolute;    
  top: 0;     
  left: -100%;
  transition: all ease-in-out 2s;
}

.active{
  left: 0%;
}
